<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Home</h1>
    </div>
</div>


<h1 align="center">Food Rescue</h1>

<div class="topcoat-list__container scroller" style="top:338px;">
    <ul class="topcoat-list list">
        <li class="topcoat-list__item">
            <a ng-click="go('/employees')"> <strong class="center">Pick Up</strong>
                <div class="action-icon icon-manager"/>
            </a>
        </li>
        <li class="topcoat-list__item">
            <a ng-click="go('/employees')"> <strong class="center">Deliveries</strong>
                <div class="action-icon icon-manager"/>
            </a>
        </li>
        <li class="topcoat-list__item">
            <a ng-click="go('/directions')"> <strong class="center">Directions</strong>
                <div class="action-icon icon-manager"/>
            </a>
        </li>
    </ul>
</div>