<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Welcome</h1>
    </div>
</div>


<div align="center" class="login">
<!--<form>-->

<!--<label> Food Rescue </label> <br>-->

<!--Username: <input type="text" name="username" style="width:100px;"><br>-->
<!--Password: <input type="password" name="password" style="width:100px;"><br><br>-->
<!--&lt;!&ndash;<input type="submit" ng-click="go('/employees')">&ndash;&gt;-->
<!--</form>-->

<!--<input value="Hello" type="submit" ng-click="go('/home')">-->
<h1>Food Rescue</h1>
<form action="">
    <h2>Login</h2>
    <button class="submit" ng-click="go('/home')"><span class="entypo-lock"></span></button>

    <span class="entypo-user inputUserIcon"></span>
    <input type="text" class="user" placeholder="Ursername"/>
    <span class="entypo-key inputPassIcon"></span>
    <input type="password" class="pass"placeholder="Password"/>


</form>


</div>