<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Welcome</h1>
    </div>
</div>


<div class="login">
    <form>
        First name:<br>
        <input type="text" name="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br><br>
        <!--<input type="submit" ng-click="go('/employees')">-->
    </form>

    <input value="Hello" type="submit" ng-click="go('/employees')">

</div>